body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .container {
    background-color: #B0BEC5;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow:15px 10px rgb(0, 0, 0,0.5);
  }
img{
    width: 100px;
}
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }